h1{
	padding-right: 60px;
	color: black; 
	text-transform: uppercase; 
	background-color: #dcdcdc;	
}

h2{
	padding: 20px;
	font-size: 26px;
	text-transform: uppercase; 
	border-bottom: 2px solid #333333;
}

h3{
	padding-top: 20px;
}

body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0px;
	background: #d7dee8;
}

p{
	top: 10px;
	text-align: justify;
}

section{
	margin: 0px 11%;
	padding: 20px 2%;
	padding-top: 60px;
	background: white;
	height: 800px; /*Apagar*/
}

#logo{
	width: 210px;
}

footer{
	border-top: 1px solid #848587;
}

#copyright{
	text-align: center;
	height:25px;
	background:#dcdcdc;
}

#copyrightfont{
	color:#000000;
	font-size:14px;
	padding-top:4px;
	text-align:center;
}
